* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

:root {
    --oblack: #030100;
    --oblue: #02297D;
    --desk-padding: 10px 7%;
    --light-blue: #195be9;
    --section-borderbottom:2px solid #ffffff2d;
}

body{
    background-color: var(--oblack);
    color: #ffffff;
}

/* ... desk navigation section  */
.desk-nav {
    width: 100%;
    display: flex;
    background-color: var(--oblack);
    padding: var(--desk-padding);
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
    column-gap: 20px;
    border-bottom: var(--section-borderbottom) ;
}

#logo {
    width: 130px;

}

#logo img {
    width: 100%;
}

.main-top-links {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

.desk-nav ul li a {
    text-decoration: none;
    color: unset;
}

.desk-nav ul li a:hover {
    color: var(--light-blue);
    font-weight: 600px;
}


#cta-btn {
    background-color: var(--oblue);
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

#cta-btn:hover {
    background-color: var(--light-blue);
}

/* ...sub links */

#sub-links-cont {
    position: relative;
    cursor: pointer;
}

.sub-links {
    position: absolute;
    z-index: 3;
    top: 50px;
    list-style: none;
    background-color: #ffffff;

    line-height: 1.9;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    min-width: 220px;
    text-align: center;
    color: var(--light-blue);
    display: none;
}

#sub-links-cont:hover {
    color: var(--light-blue);
    font-weight: 600px;
}

.sub-links.show-sub-links {
    display: flex;
    padding: 8px 20px;
    gap: 10px;
}

.fa-caret-down.roll-caret {
    transform: rotate(180deg);
}

.sub-links li {
    width: 100%;
}

.sub-links a {
    text-decoration: none;
    color: var(--oblack);
}

.mobile-nav {
    display: none;
}



/* ....responsive for mobile */

@media (max-width:800px) {


    .desk-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        padding: 10px 5%;
        background-color: var(--oblack);
        border-bottom: 2px solid #ffffff2d;
    }

    .mobile-nav nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-links {
        display: none;
    }

    #mobile-links.show-mobile-links {
        display: block;
    }

    .hambuger {
        background-color: var(--oblue);
        color: #fff;
        padding: 10px;
        font-size: 1.1rem;
    }

    #mobile-links a {
        text-decoration: none;
        color: #fff;
    }

    .mobile-nav ul li:hover {
        background-color: var(--oblack);
        width: 100%;
    }

    #mobile-links {
        background-color: var(--oblue);
        width: 100%;
        list-style: none;
        position: absolute;
        text-align: center;
        align-content: center;
        top: 70px;
        left: 0;
        z-index: 5;
        padding: 10px;
        line-height: 2;
        height: 100vh;
        font-size: 1.3rem;

    }

    .mobile-sub-links{
        display: none;
        position: relative;
        left: 20px;
        font-size: 1rem;
        list-style: none;
       
    }

    .mobile-sub-links.show-m-sub-links{
        font-size: 0.9rem;
        display: block;
    }
}

/* ......hero section */

.hero-cont {
    height: 90vh;
    width: 100%;
    background-color: var(--oblack);
    padding: var(--desk-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-bottom: var(--section-borderbottom);
}

.hero-cont h1 {
    color: #fff;
    font-size: 3rem;
    width: 80%;
    text-align: center;
    line-height: 1.6;
}

.hero-text-cont {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-b-image {
    position: absolute;
    width: 400px;
    top: auto;
    right: auto;
    opacity: 0.05;
    animation: scalling-hero-image 5s infinite alternate;
}

.hire-btn {
    width: 200px;
}

@keyframes scalling-hero-image {
    0% {
        transform: scale(1) rotate(0);
    }

    50% {
        transform: scale(1.2) rotate(-100deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
}



@media (max-width:600px) {
    .hero-cont h1 {
        font-size: 2rem;
        width: 100%;
    }

    #hero-b-image {
        width: 350px;
    }
}




/*  about CONTAINER */

.about-section {
    padding: 80px 20px;
    border-bottom: var(--section-borderbottom);
}
.about-container {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 50px;
}

/* TEXT SIDE */
.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-intro {
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 20px;

}

.about-btn:hover {
    background-color: #155ac7;
}

/* IMAGE SIDE */
.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}


/* SERVICES SECTION */
.services-section {
    padding: 80px 20px;
    border-bottom: var(--section-borderbottom);
}

/* CONTAINER */
.services-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
.services-header {
    text-align: center;
    margin-bottom: 60px;
}

.services-header h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.services-header p {
    max-width: 600px;
    margin: 0 auto;
}

/* GRID */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

/* CARD */
.service-card {
    padding: 35px 25px;
    border: 1px solid var(--oblue);
    border-radius: 12px;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ICON */
.service-icon {
    font-size: 40px;
    color: var(--oblue);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50%;
}

/* TEXT */
.service-card h3 {
    margin-bottom: 15px;
}


/* HOVER EFFECT */
.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(255, 253, 253, 0.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
}


/*.......... PROCESS SECTION */


.process-section {
    padding: 80px 20px;
    border-bottom: var(--section-borderbottom);
}

/* CONTAINER */
.process-container {
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
.process-header {
    text-align: center;
    margin-bottom: 60px;
}

.process-header h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.process-header p {
    max-width: 600px;
    margin: 0 auto;
}

/* GRID */
.process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

/* CARD */
.process-card {
    border: 1px solid #ffffff;
    padding: 35px 25px;
    border-radius: 14px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* ICON */
.process-icon {
    font-size: 42px;
    color: var(--oblue);
    margin-bottom: 20px;
}

/* TEXT */
.process-card h3 {
    margin-bottom: 15px;
}


/* HOVER */
.process-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 30px rgba(253, 253, 253, 0.1);
}



/* RESPONSIVE */
@media (max-width: 900px) {
    .process-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .process-grid {
        grid-template-columns: 1fr;
    }
}


/* =====Reviews Section===================== */

.reviews {
    padding: 4rem 1.5rem;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: var(--bcolor);
    margin-bottom: 2.5rem;
}

/* Grid container */
.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 5%;
}

/* Review card */
.review-card {
    background-color: var(--light-blue);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    text-align: left;
}

.review-card i {
    color: var(--bcolor);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.review-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--white-background);
}

.review-card h4 {
    font-size: 0.9rem;
    font-weight: 600;
}

#profile1,
#profile2,
#profile3 {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 50%;
}

#profile1 {
    background-image: url(images/lutpayteam\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

#profile2 {
    background-image: url(images/old.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#profile3 {
    background-image: url(images/outdoor-portrait-cheerful-african-muslim.webp);
    background-size: cover;
    background-repeat: no-repeat;
}




/* ========   Responsive Design ======= */

/* Tablet */
@media (max-width: 900px) {
    .reviews-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .reviews-container {
        grid-template-columns: 1fr;

    }
}


/*.............. CTA SECTION */
.cta-section {
    padding: 100px 20px;
    background: linear-gradient(135deg, var(--oblack), var(--oblue));
    color: #ffffff;
    border-bottom: var(--section-borderbottom);
}

/* CONTAINER */
.cta-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* TEXT */
.cta-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cta-container p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #f1e6f1;
}

/* BUTTON */
.cta-btn {
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--light-blue);
    color: var(--bcolor);
    text-decoration: none;
    font-weight: 700;
    border-radius: 50px;
    transition: background 3s ease0.3s ease;
}

.cta-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(243, 242, 242, 0.3);
}


/* FOOTER */
.footer-section {
    color: #ffffff;
    padding: 70px 20px 0;
 
}

/* CONTAINER */
.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}




/*............ FOOTER BOX */

.footer-box img {

    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.footer-box h3,
.footer-box h4 {
    margin-bottom: 20px;
}

.footer-box p {
    color: #dcdcdc;
    line-height: 1.6;
}

/* LISTS */
.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
    color: #dcdcdc;
}

.footer-box ul li a {
    text-decoration: none;
    color: #dcdcdc;
    transition: color 0.3s ease;
}

.footer-box ul li a:hover {
    color: var(--light-purple);
}

/* SOCIAL ICONS */
.footer-socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--oblue);
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
}

.footer-socials a:hover {
    transform: translateY(-4px);
    background-color: var(--light-purple);
}

/* BOTTOM BAR */
.footer-bottom {
    margin-top: 60px;
    padding: 20px;
    background-color: #0b000b;
    text-align: center;
       border-top: var(--section-borderbottom);
}

.footer-bottom p {
    font-size: 14px;
}

#lutful {
    color: var(--oblue);
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: start;
        padding: 0 5%;
    }

    .footer-socials {
        justify-content: center;
    }
}


