* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}


:root {
    --oblack: #030100;
    --oblue: #02297D;
    --desk-padding: 10px 7%;
    --light-blue: #195be9;
    --section-borderbottom: 2px solid #ffffff2d;
}

body {
    background-color: rgba(128, 128, 128, 0.466);
}

/* .........desk navigation */
/* 
.desk-nav {
    display: flex;
    background-color: var(--oblack);
    padding: 10px 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}



.service-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.service-links li a {
    text-decoration: none;
    color: #ffffff;
}

.service-links li a:hover {
    color: var(--light-blue);
}


#cta-btn {
    background-color: var(--oblue);
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

#cta-btn:hover {
    background-color: var(--light-blue);
}


.mobile-nav {
    display: none;
}
 */


/* ....responsive for mobile */

/* @media (max-width:800px) {


    .desk-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        padding: 10px 5%;
        background-color: var(--oblack);
        border-bottom: 2px solid #ffffff2d;
    }

    .mobile-nav nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-links {
        display: none;
    }

    #mobile-links.show-mobile-links {
        display: block;
    }

    .hambuger {
        background-color: var(--oblue);
        color: #fff;
        padding: 10px;
        font-size: 1.1rem;
    }

    #mobile-links a {
        text-decoration: none;
        color: #fff;
    }

    .mobile-nav ul li:hover {
        background-color: var(--oblack);
        width: 100%;
    }

    #mobile-links {
        background-color: var(--oblue);
        width: 100%;
        list-style: none;
        position: absolute;
        text-align: center;
        align-content: center;
        top: 70px;
        left: 0;
        z-index: 5;
        padding: 10px;
        line-height: 2;
        height: 100vh;
        font-size: 1.3rem;

    }

    .mobile-sub-links {
        display: none;
        position: relative;
        left: 20px;
        font-size: 1rem;
        list-style: none;

    }

    .mobile-sub-links.show-m-sub-links {
        font-size: 0.9rem;
        display: block;
    }
} */


/* ... desk navigation section  */
.desk-nav {
    width: 100%;
    display: flex;
    background-color: var(--oblack);
    padding: var(--desk-padding);
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
    column-gap: 20px;
    border-bottom: var(--section-borderbottom);
}

#logo {
    width: 130px;

}

#logo img {
    width: 100%;
}

.main-top-links {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

.desk-nav ul li a {
    text-decoration: none;
    color: unset;
}

.desk-nav ul li a:hover {
    color: var(--light-blue);
    font-weight: 600px;
}


#cta-btn {
    background-color: var(--oblue);
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

#cta-btn:hover {
    background-color: var(--light-blue);
}

/* ...sub links */

#sub-links-cont {
    position: relative;
    cursor: pointer;
}

.sub-links {
    position: absolute;
    z-index: 3;
    top: 50px;
    list-style-type: circle;
    background-color: #ffffff;
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    min-width: 220px;
    text-align: center;
    color: var(--light-blue);
    display: none;
}

#sub-links-cont:hover {
    color: var(--light-blue);
    font-weight: 600px;
}

.sub-links.show-sub-links {
    display: flex;
    padding: 15px 23px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

}

.fa-caret-down.roll-caret {
    transform: rotate(180deg);
}

.sub-links li {
    width: 100%;
}

.sub-links a {
    text-decoration: none;
    color: var(--oblack);
}

.mobile-nav {
    display: none;
}



/* ....responsive for mobile */

@media (max-width:800px) {


    .desk-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        padding: 10px 5%;
        background-color: var(--oblack);
        border-bottom: 2px solid #ffffff2d;
    }

    .mobile-nav nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-links {
        display: none;
    }

    #mobile-links.show-mobile-links {
        display: block;
    }

    .hambuger {
        background-color: var(--oblue);
        color: #fff;
        padding: 10px;
        font-size: 1.1rem;
    }

    #mobile-links a {
        text-decoration: none;
        color: #fff;
    }

    .mobile-nav ul li:hover {
        background-color: var(--oblack);
        width: 100%;
    }

    #mobile-links {
        background-color: var(--oblue);
        width: 100%;
        list-style: none;
        position: absolute;
        text-align: center;
        align-content: center;
        top: 70px;
        left: 0;
        z-index: 5;
        padding: 10px;
        line-height: 2;
        height: 100vh;
        font-size: 1.3rem;
        color: #ffffff;

    }

    .mobile-sub-links {
        display: none;
        position: relative;
        left: 20px;
        font-size: 1rem;
        list-style: none;


    }

    .mobile-sub-links.show-m-sub-links {
        font-size: 0.9rem;
        display: block;
    }
}




/* ....hero section  */
.contact-hero {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.763)), url(/images/about-us.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
}

.contact-hero h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.down-arrow {
    position: absolute;
    bottom: 0;
    font-size: 3rem;
    animation: 1s downArrow infinite ease-in-out;
}

@keyframes downArrow {
    to {
        transform: translateY(30px);
    }
}


/* ................. SERVICE DETAIL SECTIONS ......s*/
.service-detail {
    padding: 70px 10%;
    border-bottom: var(--section-borderbottom);
    background-color: var(--oblack);
    color: #ffffff;
}

.service-detail .fa-solid {
    background-color: #ffffff;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-weight: 600;
}

/* Layout */
.service-wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 3rem;
    align-items: center;
}

/* Text area */
.service-text i {
    font-size: 2.5rem;
    color: var(--light-blue);
    margin-bottom: 1rem;
}

.service-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.service-text p {
    color: #cccccc;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.service-text ul {
    margin: 1rem 0 2rem;
    padding-left: 1.2rem;
}

.service-text ul li {
    margin-bottom: 0.6rem;
    color: #dddddd;
}

/* CTA Button */
.service-btn {
    display: inline-block;
    padding: 0.7rem 1.6rem;
    background-color: var(--light-blue);
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
}

.service-btn:hover {
    opacity: 0.9;
}

/* Image placeholder */
.service-image {
    height: 280px;

    border: 1px dashed #ffffff3a;
    border-radius: 8px;
}

.service-image img {
    width: 100%;
}

@media (max-width:769px) {
    .service-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}






/* FOOTER */
.footer-section {
    color: #ffffff;
    padding: 70px 20px 0;
    background-color: var(--oblack);

}

/* CONTAINER */
.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    color: var(--oblue);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    left: 10px;

}

.back-to-top a {
    text-decoration: none;

}

/*............ FOOTER BOX */

.footer-box img {

    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.footer-box h3,
.footer-box h4 {
    margin-bottom: 20px;
}

.footer-box p {
    color: #dcdcdc;
    line-height: 1.6;
}

/* LISTS */
.footer-box ul {
    list-style: none;
}

.footer-box ul li {
    margin-bottom: 10px;
    color: #dcdcdc;
}

.footer-box ul li a {
    text-decoration: none;
    color: #dcdcdc;
    transition: color 0.3s ease;
}

.footer-box ul li a:hover {
    color: var(--light-purple);
}

/* SOCIAL ICONS */
.footer-socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--oblue);
    color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background 0.3s ease;
}

.footer-socials a:hover {
    transform: translateY(-4px);
    background-color: var(--light-purple);
}

/* BOTTOM BAR */
.footer-bottom {
    margin-top: 60px;
    padding: 20px;
    background-color: #0b000b;
    text-align: center;
    border-top: var(--section-borderbottom);
}

.footer-bottom p {
    font-size: 14px;
}

#lutful {
    color: var(--oblue);
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: start;
        padding: 0 5%;
    }

    .footer-socials {
        justify-content: center;
    }
}